# .gitignore for blended_learning.
# There's a lot here, please try to keep it organized.
/blended_learning/settings.py
#settings.py
local_settings.py
fabfile.py
# local js /blended_learning/course_meta/static/js/src/util.js
util.js
gunicorn_config.py
db.sqlite3
#useless js generated while optimizing requirejs files
# /blended_learning/course_meta/static/rainbuild/libs plugins build.js etc
course_meta/static/rainbuild/
course_meta/static/js/r.js

### Files private to developers

requirements/private.txt

### Python artifacts
*.pyc

### Editor and IDE artifacts
*~
*.swp
*.orig
/nbproject
.idea/
.redcar/
codekit-config.json
*.json
*.log
.pycharm_helpers/

### NFS artifacts
.nfs*

### OS X artifacts
*.DS_Store
.AppleDouble
:2e_*
:2e#

### Internationalization artifacts
*.mo
*.po
*.prob
!django.po

### Testing artifacts
.testids/
.noseids
nosetests.xml
.coverage
.coverage.*
coverage.xml
cover/
cover_html/
reports/
jscover.log
jscover.log.*
.tddium*
common/test/data/test_unicode/static/
django-pyfs
test_root/uploads/*.txt
*.orig
*.rej

### Installation artifacts
*.egg-info
.pip_download_cache/
.prereqs_cache
.vagrant/
node_modules
.bundle/
bin/

### Static assets pipeline artifacts
*.scssc
#lms/static/css/

### Logging artifacts
log/
logs
chromedriver.log
ghostdriver.log

### Unknown artifacts
database.sqlite
courseware/static/js/mathjax/*
flushdb.sh
build
/src/
\#*\#
.env/
autodeploy.properties
.ws_migrations_complete
dist
e.sql
*.sql

#git diff template file
*.diff

### Claire9 ignore
._*
*.map

### debug directory ####
